body{
  background-color: #efefef;
}

#root-cont{
  margin-top: 5%;
  /* background-color: green; */
  box-shadow: 0px 0px 10px #aeafb1, 0px 0px 10px #aeafb1;
  height: 700px;
}

/* left pane----------------------------------- */

.left-pane{
background-color: #1dbf74;
height: 700px;
display: flex;
flex-direction: column;
}

.logo{
max-width: 100px;
max-height: 50px;
margin-top: 10px
}

.heading{
  margin: 5px 0px 0px 0px;
  font-family: 'Gruppo', cursive;
  font-size: 20px;
  background-color: orange;
  border-radius: 30px;
  font-weight: bold;
}

.img-left{
  margin-top: 30%;
  max-height: auto;
  max-width: 100%;
}

.social-icons{
  list-style: none;
}

.social-icons li{
  float: right;
  padding: 5px;
}

.social-icons li a{
  text-decoration: none;
  color: #efefef;
}

.descript{
  margin-top: 50px;
  font-size: small;
  max-width: 300px;
}

.copy-r{
  margin-top: 70px;
  font-size: 11px;
  color: #d1d3d8;
}


/* right pane----------------------------------- */

.right-pane{
  background-color: white;

}

.birthdate{
  flex-direction: row;
  margin: 70px 0px 0px 0px;
}

.span-text{
  background-color: #1dbf74;
  border-color: #1dbf74 ;
  color: white;
  font-size: smaller !important;
}

.gender{
  margin: 20px 0px 0px 12px;
}

#img-box{
  margin-top: 20px;
  border: 1px solid #1dbf74;
  border-radius: 10px;
}

.vertical-line{
  height: 550px;
  margin-top: 70px;
}

input::placeholder {
  font-size: 10px;
  font-style: italic;
}

#content-box{
  margin-top: 65px;
}

.name-tag{
  font-size: 40px;
  font-weight: bold;
  color: rgb(107, 105, 105);
}

.name-tag span{
  color: #1dbf74;
}

.hide{
  display: none;
}

.day-tag{
  color: #1dbf74;
  font-weight: bold;
}